<footer class="footer">
    <div class="container-fluid">
        <div class="row">           
            <div class="col-sm-6">
                © 2014 - <script>document.write(new Date().getFullYear())</script> ITC PLC. All rights reserved
            </div>
        </div>
    </div>
</footer>