<meta charset="utf-8" />
<title>@ViewBag.Title | InfoTrack</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
<meta content="Themesdesign" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/images/favicon.ico">
<link href="~/libs/select2/css/select2.min.css" rel="stylesheet" />