@{
    ViewBag.Title = "TokenCreate";
    ViewBag.pTitle = "Token Create";
    ViewBag.pageTitle = "InfoTrack";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <!-- jquery.vectormap css -->
    <link href="~/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />

    <!-- DataTables -->
    <link href="~/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="~/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

}

<style>
    .card {
        margin-bottom: 0.4rem;
    }

    .card-header {
        background-color: white !important;
    }

    .bg-color {
        background-color: #5664d2;
    }

        .bg-color:hover {
            background-color: #5664d2;
            color: white;
        }

    

</style>


<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h5>Token Create</h5>
            </div>
            <div class="card-body">              
                <div class="mt-4">
                    <div class="row g-3">
                        <div class="col-12 col-md-3">
                            <label for="districtSelect" class="form-label">District<span class="text-danger">*</span></label>
                            <select class="form-select" name="district" id="districtSelect" data-width="fit">
                                <option value="0">Select District</option>
                                <option value="dhaka">Dhaka</option>
                                <option value="chittagong">Chittagong</option>
                                <option value="rajshahi">Rajshahi</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-3">
                            <label for="metaelementTitle" class="form-label">Division<span class="text-danger">*</span></label>
                            <select class="form-select" name="division" id="divisionSelect">
                                <option value="0">Select Division</option>
                            </select>

                        </div>
                        <div class="col-12 col-md-3">
                            <label for="metaelementTitle" class="form-label">Type<span class="text-danger">*</span></label>
                            <select class="form-select" name="type">
                                <option value="0">Select Type</option>
                            </select>

                        </div>

                        <div class="col-12 col-md-3">
                            <label for="metaelementTitle" class="form-label">Type Name<span class="text-danger">*</span></label>
                            <select class="form-select" name="typename">
                                <option value="0">Select TypeName</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
</div>




@section scripts {
    <!-- apexcharts -->   
    <script src="~/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>
    <!-- Required datatable js -->
    <script src="~/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <!-- App js -->
    <script src="~/js/app.js"></script>

}
<script src="~/lib/jquery/dist/jquery.min.js"></script>